extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/about.css
      include ../static/styleContact.css

block content 
    div.container
        h1 Shree Dance Academy
        p Welcome to Shree Dance Academy. We are passionate about dance and committed to providing the best dance education to our students. Our academy offers a wide range of dance styles, including:
        
        ul
            li Ballet
            li Hip Hop
            li Contemporary
            li Jazz
            li Salsa
            li Bharatanatyam
        
        p Whether you're a beginner or an experienced dancer, our experienced instructors are here to help you improve your skills and enjoy the art of dance to the fullest.

        p Join us today and let's dance our way to happiness!

        h2 Our Mission
        p At Shree Dance Academy, our mission is to:
        
        ul
            li Inspire creativity through dance
            li Foster a welcoming and inclusive dance community
            li Provide high-quality dance instruction
            li Promote physical fitness and well-being
        
        h2 Meet Our Instructors
        // Add instructor information here
        
        
