doctype html
html
  head
    title SHREE DANCE ACADEMY
    block scripts
    block style
        

  body
    nav#navbar.top
        ul
            div#logo
                img(src="/static/img/logo.png")
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/about") About ]
            li #[a(href="/service") Members ]
            li #[a(href="/classInfo") class Info ]
            li #[a(href="/contact") contact]

    block content
    footer#footer 
        | Copy right 2022 © ShreeDanceAcademy.com  |    All right reserved
    