//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar.top
        ul
            div#logo
                img(src="/static/img/logo.png")
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") class Info ]
            li #[a(href="/") contact]


    section#introSection
        div WELCOME TO SHREE DANCE ACADEMY 
        div.small  Move To The Beat
        div.small  To
    
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy in india

        div.card
            h3 Embrace Personal Expression
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best dance academy in india

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p This is the best dance academy in india
    
    section#sponsorSection
        h2 Our sponsors
        div#sponsors
            img(src="/static/img/logo1.png", alt="Sponsors img", class="spImage")
            img(src="/static/img/logo2.png", alt="Sponsors img", class="spImage")
            img(src="/static/img/logo3.png", alt="Sponsors img", class="spImage")
            img(src="/static/img/logo4.png", alt="Sponsors img", class="spImage")

    footer#footer 
        | Copy right 2022 © ShreeDanceAcademy.com  |    All right reserved

    script
      include ../static/index.js