@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=REM:ital,wght@1,200&family=Roboto:wght@300&display=swap');
/* *{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #f7f5f5e2;
} */
.container{
    min-height: 85vh;
}
h1{
    text-align: center;
    padding-top: 40px;
    font-family: 'Lobster', cursive;
    /* margin: 10px; */
}
.contactForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.myInput{
    font-family: 'Archivo', sans-serif;
    width: 550px;
    padding: 10px;
    outline: none;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn{
    outline: none;
    padding: 5px 10px;
    font-size: 20px;
    margin: 20px;
    background-color: rgb(0, 0, 255);
    color: white;
    cursor: pointer;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 0px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn:hover{
    color: white;
    background-color: rgb(80, 80, 250);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}